<% provide(:title, @user.name)%>
<%= @user.name %>, <%= @user.email %>

<% if @user.questions.any? %>
<h3>Preguntas (<%= @user.questions.count %>)</h3>
<ol class="questions">
	<%= render @questions %>
</ol>
<%= will_paginate @questions %>
<% end %>

